<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>LSAT</title>
</head>
<body>
	<div style="font-family: sans-serif; font-size: 14px;">
		<h2>El estudiante $idNumber está  bloqueado. </h2>
		<p>Hola $username, el estudiante $studentName ($idNumber) del grupo $group está bloqueado.<br/>
		Competencia $competence en la red $web en el nivel $level.  </p>


		<p style="font-size: 11px;">Este es un email automático, por favor no responda a esta dirección.</p>
	</div>
</body>
</html>
